<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vatok.androidweather">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WeatherActivity">
            <intent-filter>
                <action android:name="com.example.vatok.androidweather.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                 <a href="weather://link/?city=Moscow">Moscow</a><br>
<a href="http://myweather.ru/link/?city=Yekaterinburg">Yekat</a>
                 -->
                <data
                    android:host="link"
                    android:scheme="weather" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.example.vatok.androidweather.WEATHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>